    {% load static %}
      <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">" COVID-19  <i>Self Assessment System </i> is only for software
development purpose and may not yield actual result. Any
information given by users of this system will not be disclosed
or store to anywhere.”</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Privacy & Policy</a></li>
              <li><a href="#">Terms & Condition</a></li>
          
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Test</h6>
            <ul class="footer-links">
              <li><a href="#">Covid-19 Test</a></li>
              <li><a href="#">Fever</a></li>
              <li><a href="#">Blood</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
         <a href="#">Imran</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>